/* stylelint-disable docusaurus/copyright-header */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #0538AF;
  --ifm-color-primary-dark: #325CBD;
  --ifm-color-primary-darker: #325CBD;
  --ifm-color-primary-darkest: #325CBD;
  --ifm-color-primary-light: #325CBD;
  --ifm-color-primary-lighter: #325CBD;
  --ifm-color-primary-lightest: #325CBD;
  --ifm-code-font-size: 95%;
  --ifm-footer-link-hover-color: #6684CE;
}

html[data-theme="dark"] {
  --ifm-color-primary: #6684CE;
  --ifm-color-primary-dark: #6684CE;
  --ifm-color-primary-darker: #6684CE;
  --ifm-color-primary-darkest: #6684CE;
  --ifm-color-primary-light: #6684CE;
  --ifm-color-primary-lighter: #6684CE;
  --ifm-color-primary-lightest: #6684CE;
  --ifm-code-font-size: 95%;
}

.button {
  border-style: solid !important;
  border-width: 1px !important;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
}

.card {
  padding: 0rem;
  margin-top: 1rem;
  animation: fadeInUp 400ms backwards;
  animation-delay: 150ms;
  transition-property: all;
  transition-duration: 200ms;
  box-shadow: 0 8px 28px 4px rgba(86, 91, 115, 0.15);
  height: calc(100% - 15px);
}

.card a {
  text-decoration: none;
}

.card:hover {
  transform: translate(0px, -5px);
}

.footer--dark {
  background-color: #232323 !important;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.header-github-link:hover {
  opacity: 0.6;
}

div#faucetcontainer {
  width: 500px;
  /* defines the visible width of the part */
  height: 500px;
  /* defines the visible height of the part */
  overflow: hidden;
  overflow-x: hidden;
  /* resize and min-height are optional, allows user to resize viewable area */
  -webkit-resize: vertical;
  -moz-resize: vertical;
  resize: vertical;
  min-height: 317px;
}

.faucet {
  border: 0px none;
  width: 960px;
  /* set to approximate width of the faucet page */
  height: 1750px;
  /* determines where the bottom of the page cuts off */
  margin-left: -300px;
  /* defines the left clipping of the faucet page */
  margin-top: -1010px !important;
  /* defines the top clipping of the faucet page */
  overflow: hidden;
  -webkit-resize: none;
  -moz-resize: none;
  resize: none;
}